/*Header Page CSS Begin*/

*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

header 
{
    background-color: #333;
    color: white;
    padding: 20px;
}

nav{
background-color:  #ff8500;
color: white;
padding: 20px;
text-align: right;
}



nav ul {
list-style-type: none ;

}
nav ul li {

    display: inline;
    margin-right: 20px;    

}


.nav-ul-li-contact
{
    margin-right: 0;   

}

nav ul li a 
{
    text-decoration: none;
    color: white;
}



nav ul li a:hover
{
    color: #f8e1cc  ;
}

/*Header Page CSS Ends*/





.hero
{
background-image: url(images/mainPic.jpg);
/*opacity: 0.6;*/
background-size: cover;
height: 300px;
display: flex;
justify-content: center;
align-items: center;

}

.hero-section {

text-align: center;

}
.hero-section h2
{
    color: #090909;
}


.hero-section p
{
margin-top: 10px;
padding: 20px;
color: rgb(234, 181, 126);
}


/*Index Page CSS End*/


/*Terms Page CSS Begin*/

.terms-section{
text-align: left;
margin: 20px 20px 20px 30px;
/*
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;
*/
}

.terms-section h2 { 
    margin-bottom: 10px;
}

.terms{
margin-bottom: 20px;
border: 1px solid #ccc  ;
padding: 20px;
border-radius: 10px;

}
/*Terms Page CSS Ends*/

/*Privacy Page CSS Begin*/

.privacy-section{
text-align: left;
margin: 20px 20px 20px 30px;
/*
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;
*/
}

.privacy-section h2 { 
    margin-bottom: 10px;
}

.privacy{
margin-bottom: 20px;
border: 1px solid #ccc  ;
padding: 20px;
border-radius: 10px;

}

/*Privacy Page CSS End*/


/*Job Listing Us Page CSS Start*/


.jobs-listing-section{
text-align: left;
margin: 20px 20px 20px 30px;
/*
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;
*/
}

.jobs-listing-section h2 { 
    margin-bottom: 10px;
}

.jobs-listing{
margin-bottom: 20px;
border: 1px solid #ccc  ;
padding: 20px;
border-radius: 10px;
background-color: #f7f4f4;

}



/*Job Listing Us Page CSS Ends*/



/*Contact Us Page CSS Starts*/

.contact-section
{

text-align: left;
margin: 20px 20px 20px 30px;
/*
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;
*/

}

.contact-section h2 { 
    margin-bottom: 10px;
}

.contact
{
    margin-bottom: 20px;
border: 1px solid #ccc  ;
padding: 20px;
border-radius: 10px;

}
.contact-form{

padding: 20px;
}

.contact-form input, textarea , select
{
display: block;
width: 100%;
margin-bottom: 10px;
padding: 5px;

border: 1px solid #ccc;
border-radius: 3px;

}

.contact-form input[type=submit]
{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
}

/*Contact Us Page CSS Ends*/


/*Footer Page CSS Begin*/

footer
{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p a 
{
    text-decoration: none;
    color: #f7df04;    
}

footer p a:hover
{
    color:#f8935c;
}
/*Footer Page CSS Begin*/