<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="header-container">

        
        <h1>FlipZila</h1>

        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">New Arrivals</a></li>
                <li><a href="">Best Sellers</a></li>
                <li><a href="">Sales</a></li>
            </ul>
        </nav>

        </div>
    </header>
    <main class="product-container">

        <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>
                <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>

                <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>

                <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>
         <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>
         <section class="product">
            <h3>Product 1</h3>
            <p class="price">$20.20</p>
            <button class="btn-add-to-cart">Add To Cart</button>
        </section>

    </main>
    <footer>
        <p>© 2024 Our online store. All right reserved.</p>
    </footer>
</body>
</html>