<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <img src="images/pic.png" alt="">
    <h1>Sadeed</h1>
    <p>Project Manager | Teacher | Tech Ent</p>
</header>
<section class="bio">
    <h2> About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui cum esse dolore officiis iure. Debitis.</p>
</section>

<section class="work">
    <h2>My Work</h2>
    <div class="project">HTML/CSS</div>
    <div class="project">Javascript</div>
    <div class="project">React</div>
    <div class="project">Python</div>
</section>
    <footer>Contact me at sadeed@cbc.com</footer>
</body>
</html>